{% load thumbnail %}

<div id="c5ab-section-bfMHOV" class="c5ab-light-mode c5ab-section-common c5ab-align-left c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE   clearfix">

							<div class="c5ab-center-content" style="max-width:1170px">

		<div class="c5ab-row clearfix" id="c5ab-row-bfMHOV">
				<div class="c5ab-col-base c5ab-col-lg-6 c5ab-col-md-6 c5ab-col-sm-12 ">
		<div class="c5ab-widget widget_posts-widget c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE" id="c5ab-widget-CIjfAy">
            <div class="c5ab_posts_thumb_tall  c5ab_posts_thumb_tall_cRiZY"><h3 class=" c5ab-title-sWVKz  category-4 normal title  clearfix"><a href="{% url "bet:post_list_by_tag" "analyseis-mpasket" %}" class="text-wrap"><span class="icon fa fa-star"></span><span class="text ">Αναλύσεις Μπάσκετ</span></a></h3>
                {% for post1 in double_widget1 %}
                <article class="c5ab_post_thumb c5ab_posts_thumb_tall_single  clearfix"><div class="c5-thumb-hover  clearfix"><div class="hover"><div class="half"><a href="{{ post1.get_absolute_url }}" class="fa fa-link"></a></div></div><div class="c5-post-ShOVo c5-post-thumb"><style>.c5-post-ShOVo{background-image:url('{% thumbnail post1.image 310x208 %}');min-height:208px;} @media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) { .c5-post-ShOVo{background-image:url('{% thumbnail post1.image 620x416 %}');}}</style></div></div><div class="content "><h3 class=""><a href="{{ post1.get_absolute_url }}">{{ post1.title }}</a></h3><ul class="c5_meta_data  clearfix"><li class="c5-meta-li-time clearfix"><time class="value updated" datetime="{{ post1.created }}"><span class="fa fa-calendar-o"></span>{{ post1.created }}</time></li></ul><div class="clearfix"></div><p class="c5-excerpt">{{ post1.body|safe|truncatewords:25 }}</p></div>
                </article>
                {% endfor %}
            {% for post3 in double_widget3 %}
                <article class="c5ab_post_thumb c5ab_posts_thumb_single  has-thumb clearfix"><div class="c5-thumb-hover clearfix"><div class="hover"><div class="half"><a href="{{ post3.get_absolute_url }}" class="fa fa-link"></a></div></div><div class="c5-post-{{ post3.id }}-{{ post3.id }} c5-post-thumb"><style>.c5-post-{{ post3.id }}-{{ post3.id }}{background-image:url('{%  thumbnail post3.image 100x100 %}');min-height:100px;} @media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) { .c5-post-{{ post3.id }}-{{ post3.id }}{background-image:url('{% thumbnail post3.image 200x200 %}');}}.c5-post-{{ post3.id }}-{{ post3.id }}{min-width: 100px;}</style></div></div><div class="content "><h3 class=""><a href="{{ post3.get_absolute_url }}">{{ post3.title }}</a></h3><ul class="c5_meta_data  clearfix"><li class="c5-meta-li-time clearfix"><time class="value updated" datetime="{{ post3.created }}"><span class="fa fa-calendar-o"></span>{{ post3.created }}</time></li></ul><div class="clearfix"></div></div>
                </article>
            {% endfor %}
            </div></div>		</div>
				<div class="c5ab-col-base c5ab-col-lg-6 c5ab-col-md-6 c5ab-col-sm-12 ">
		<div class="c5ab-widget widget_posts-widget c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE" id="c5ab-widget-CIjfAyTfWT"><div class="c5ab_posts_thumb_tall  c5ab_posts_thumb_tall_cPAXe"><h3 class=" c5ab-title-wvGyy   normal title  clearfix"><a href="{% url "bet:analiseis"  %}" class="text-wrap"><span class="icon fa fa-star"></span><span class="text ">Αναλύσεις Αθλημάτων</span></a></h3>
           {% for post2 in double_widget2 %}
            <article class="c5ab_post_thumb c5ab_posts_thumb_tall_single  clearfix"><div class="c5-thumb-hover  clearfix"><div class="hover"><div class="half"><a href="{{ post2.get_absolute_url }}" class="fa fa-link"></a></div></div><div class="c5-post-tUMdo c5-post-thumb"><style>.c5-post-tUMdo{background-image:url('{% thumbnail post2.image 310x208 %}');min-height:208px;} @media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) { .c5-post-tUMdo{background-image:url('{% thumbnail post2.image 620x416 %}');}}</style></div></div><div class="content "><h3 class=""><a href="{{ post2.get_absolute_url }}">{{ post2.title }}</a></h3><ul class="c5_meta_data  clearfix"><li class="c5-meta-li-time clearfix"><time class="value updated" datetime="{{ post2.created }}"><span class="fa fa-calendar-o"></span>{{ post2.created }}</time></li></ul><div class="clearfix"></div><p class="c5-excerpt">  {{ post2.body|safe|truncatewords:25 }} </p></div>
            </article>
            {% endfor %}
           {% for post4 in double_widget4 %}
            <article class="c5ab_post_thumb c5ab_posts_thumb_single  has-thumb clearfix"><div class="c5-thumb-hover clearfix"><div class="hover"><div class="half"><a href="{{ post4.get_absolute_url }}" class="fa fa-link"></a></div></div><div class="c5-post-{{ post4.id }}-{{ post4.id }} c5-post-thumb"><style>.c5-post-{{ post4.id }}-{{ post4.id }}{background-image:url('{% thumbnail post4.image 100x100 %}');min-height:100px;} @media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) { .c5-post-{{ post4.id }}-{{ post4.id }}{background-image:url('{% thumbnail post4.image 200x200 %}');}}.c5-post-{{ post4.id }}-{{ post4.id }}{min-width: 100px;}</style></div></div><div class="content "><h3 class=""><a href="{{ post4.get_absolute_url }}">{{ post4.title }}</a></h3><ul class="c5_meta_data  clearfix"><li class="c5-meta-li-time clearfix"><time class="value updated" datetime="{{ post4.created }}"><span class="fa fa-calendar-o"></span>{{ post4.created }}</time></li></ul><div class="clearfix"></div></div>
            </article>
            {% endfor %}
            </div></div>		</div>
				</div>

						</div>

			</div>
		
