{% load bet_tags %}
<footer class="footer dark-mode" role="contentinfo">
			<div class="footer-main">
			<div class="c5-main-width c5-main-width-1170 clearfix">
						<style>
			#c5ab-row-zgjVYV,
			#c5ab-row-zgjVYV .c5ab-row{
				margin-left:-15px;
				margin-right:-15px;
			}

			#c5ab-row-zgjVYV .c5ab-col-base{
				padding-left: 15px;
				padding-right: 15px;
			}
			#c5ab-section-zgjVYV{
				margin: auto auto auto auto ;
				padding: auto auto auto auto ;
			}

		</style>


			<div id="c5ab-section-zgjVYV" class="c5ab-light-mode c5ab-section-common c5ab-align-left c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE   clearfix">

							<div class="c5ab-center-content" style="max-width:1170px">

		<div class="c5ab-row clearfix" id="c5ab-row-zgjVYV">
				<div class="c5ab-col-base c5ab-col-lg-2 c5ab-col-md-6 c5ab-col-sm-12 ">
		<div class="c5ab-widget widget_categories c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE" id="c5ab-widget-kAajhc" ><h3   class=" c5ab-title-wnedS   normal title  clearfix"><span  class="text-wrap"><span class="icon fa fa-ellipsis-v"></span><span class="text ">Κατηγορίες</span></span></h3>	<ul>
	<li class="cat-item cat-item-2"><a href="{% url "bet:bonus"  %}" title="Επιβράβευση.">Επιβράβευση</a>
</li>
	<li class="cat-item cat-item-3"><a href="{% url "bet:post_list_by_tag" "nomimes-stoixhmatikes" %}" title="Νόμιμες Στοιχηματικές.">Νόμιμες Στοιχηματικές</a>
</li>
	<li class="cat-item cat-item-4"><a href="{% url "bet:post_list_by_tag" "kazino" %}" title="Καζίνο.">Καζίνο</a>
</li>
	<li class="cat-item cat-item-5"><a href="{% url "bet:post_list_by_tag" "me8odoi-plhrwmhs" %}" title="Μέθοδοι Πληρωμής.">Μέθοδοι Πληρωμής</a>
</li>
	<li class="cat-item cat-item-6"><a href="{% url "bet:post_list_by_tag" "news" %}" title="Ειδήσεις.">Ειδήσεις</a>
</li>
	<li class="cat-item cat-item-7"><a href="{% url "bet:post_list_by_tag" "nomo8esia" %}" title="Νομοθεσία.">Νομοθεσία</a>
</li>
	<li class="cat-item cat-item-8"><a href="{% url "bet:post_list_by_tag" "stoixhmatikh-8ewria" %}" title="Στοιχηματική Θεωρία.">Στοιχηματική Θεωρία</a>
</li>
		</ul>
</div>

</div>
				{% footer1 %}
						<div class="c5ab-col-base c5ab-col-lg-3 c5ab-col-md-6 c5ab-col-sm-12 ">
		<div class="c5ab-widget widget_comment-widget c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE" id="c5ab-widget-oatdeH" ><h3   class=" c5ab-title-glGYQ   normal title  clearfix"><span  class="text-wrap"><span class="icon fa fa-user-secret"></span><span class="text ">Παίξε υπεύθυνα</span></span></h3>
<div class="c5ab-widget widget_posts-widget c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE" id="c5ab-widget">
    <p>Η συχνή συμμετοχή στα παίγνια μπορεί να εκθέτει τους συμμετέχοντες στον κίνδυνο του εθισμού και στην απώλεια περιουσίας
    <br><br>Τηλεφωνική γραμμή ψυχολογικής υποστήριξης για τα τυχερά παιχνίδια 1114
    <br><br>Δεν επιτρέπεται η συμμετοχή σε τυχερά παίγνια μέσω του διαδικτύου ατόμων ηλικίας κάτω των 21 ετών.
    </p>
    <p>
        <a href="http://www.kethea.gr" target="_blank"><img src="/media/images/kethea.jpg" alt=""></a>

        <img src="/media/images/orio.jpg" alt="">
    </p>
</div>
        </div>		</div>
				<div class="c5ab-col-base c5ab-col-lg-4 c5ab-col-md-6 c5ab-col-sm-12 ">
		<div class="c5ab-widget widget_title-widget c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE" id="c5ab-widget-oHzbEh" ><h3   class=" c5ab-title-wnedS   normal title  clearfix"><span  class="text-wrap"><span class="icon fa fa-envelope"></span><span class="text ">Εγγραφείτε στο Newletter</span></span></h3></div><div class="c5ab-widget widget_flickr-widget c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE" id="c5ab-widget-qdWeHs" >
                {% comment %}    <form action="/newsletter/" method="post" id="c5-newsletter-form">
                        {% csrf_token %}
    <div class="input-wrap"><input type="text" name="email" class="element-block " id="id_newsemail" placeholder="Your Email" size="20"><span class="fa fa-envelope"></span></div>
       <p><input id="c5-submit-newsletter" type="submit" value="Subscribe"></p>
   </form>{% endcomment %}
                    <form action="/newsletter/" method="post" id="c5-newsletter-form">
                      {% csrf_token %}
    <div class="input-wrap">
<p><label for="id_newsemail">Εγγραφείτε στο newsletter του betvision για αποκλειστικές προσφορές, ενημερώσεις και διαγωνισμούς.</label> <input id="id_newsemail" placeholder="Email" maxlength="254" name="newsemail" type="email"></p>
        </div>

        <p><input id="c5-submit-newsletter" type="submit" value="Subscribe"></p>
   </form>
<div id="danger" style="color:#e53935;font-weight: bold;float:left;width: 100%;"></div>

                </div>		</div>
				</div>

						</div>

			</div>
					</div>
		</div>
				<div id="inner-footer" class="footer-foot clearfix">
			<div class="c5-main-width c5-main-width-1170 clearfix">
				<div class="c5-left">
					<a title="Go Top"  id="gotop" href="#"><span class="fa fa-arrow-circle-o-up"></span> Back to top.</a>
				</div>
				<div class="c5-right">
					<nav role="navigation" class="navigation-shortcode responsive-on dark-mode mini top-menu-nav clearfix"><div class="responsive-controller clearfix"><span class="menu-enable fa fa-align-justify"></span></div><ul id="menu-footer" class=" top-nav menu-sc-nav clearfix"><li  id="menu-item-6202" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url "bet:index" %}"  class=" " ><span class=" "></span><span>Αρχική</span></a></li>
{% comment %}<li  id="menu-item-6201" class="menu-item menu-item-type-custom menu-item-object-custom"><a  class=" " ><span class=" "></span><span>Features</span></a></li>
<li></li>{% endcomment %}
</ul></nav>				</div>
			</div>
		</div>
	</footer>