 {% load bet_tags %}
  <div id="small-sidebar" class="c5-mobile-sidebar-wrap clearfix">
                            <div class="c5-sidebar-parent-wrap">
                                <div class="c5-sidebar-wrap">
                                    <nav role="navigation" class="navigation-shortcode responsive-no_responsive light sidebar top-menu-nav clearfix"><div class="responsive-controller clearfix"><span class="menu-enable fa fa-align-justify"></span></div><ul id="menu-sidebar-1" class=" top-nav menu-sc-nav clearfix"><li  id="menu-item-6300" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#"  class=" " ><span class=" "></span><span>ΠΡΟΓΝΩΣΤΙΚΑ</span></a>
<ul class="sub-menu">
	<li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:post_list_by_tag" "prognwstika-podosfairoy" %}"  class=" " ><span class=" "></span><span>Ποδόσφαιρο</span></a></li>
	<li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:post_list_by_tag" "prognwstika-mpasket" %}"  class=" " ><span class=" "></span><span>Μπάσκετ</span></a></li>
	<li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:post_list_by_tag" "prognwstika-tenis" %}"  class=" " ><span class=" "></span><span>Τένις</span></a></li>
	<li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:post_list_by_tag" "prognwstika-bolley" %}"  class=" " ><span class=" "></span><span>Βόλλευ</span></a></li>
</ul>
</li>
<li  id="menu-item-6212" class="menu-item menu-item-type-taxonomy menu-item-object-category category-7"><a href="{% url "bet:kouponi"  %}"  class=" " ><span class=" "></span><span>ΚΟΥΠΟΝΙ</span></a></li>
<li  id="menu-item-6228" class="menu-item menu-item-type-taxonomy menu-item-object-category category-4"><a href="#"  class=" " ><span class=" "></span><span>ΑΝΑΛΥΣΕΙΣ</span></a>
<ul class="sub-menu">
	<li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:post_list_by_tag" "analyseis-podosfairoy" %}"  class=" " ><span class=" "></span><span>Ποδόσφαιρο</span></a></li>
	<li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:post_list_by_tag" "analyseis-mpasket" %}"  class=" " ><span class=" "></span><span>Μπάσκετ</span></a></li>
	<li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:post_list_by_tag" "analyseis-tenis" %}"  class=" " ><span class=" "></span><span>Τένις</span></a></li>
	<li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:post_list_by_tag" "analyseis-bolley" %}"  class=" " ><span class=" "></span><span>Βόλλευ</span></a></li>
</ul>
</li>
<li  id="menu-item-6209" class="menu-item menu-item-type-taxonomy menu-item-object-category category-3"><a href="{% url "bet:tables" %}"  class=" " ><span class=" "></span><span>ΒΑΘΜΟΛΟΓΙΕΣ</span></a></li>
<li  id="menu-item-6208" class="menu-item menu-item-type-taxonomy menu-item-object-category category-2"><a href="{% url "bet:livescore" %}"  class=" " ><span class=" "></span><span>LIVESCORE</span></a></li>
<li  id="menu-item-6224" class="menu-item menu-item-type-taxonomy menu-item-object-category category-8"><a href="{% url "bet:post_list_by_tag" "news" %}"  class=" " ><span class="fa fa-plane "></span><span>ΕΙΔΗΣΕΙΣ</span></a></li>
<li  id="menu-item-6210" class="menu-item menu-item-type-taxonomy menu-item-object-category category-5"><a href="{% url "bet:post_list_by_tag" "stoixhmatikh-8ewria" %}"  class=" " ><span class=" "></span><span>ΣΤΟΙΧΗΜΑΤΙΚΗ ΘΕΩΡΙΑ</span></a></li>
<li  id="menu-item-6210" class="menu-item menu-item-type-taxonomy menu-item-object-category category-5"><a href="{% url "bet:post_list_by_tag" "nomo8esia" %}"  class=" " ><span class=""></span><span>ΝΟΜΟΘΕΣΙΑ</span></a></li>
<li  id="menu-item-6211" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent category-6"><a href="#"  class=" " ><span class=""></span><span>ΕΡΓΑΛΕΙΑ</span></a>
<ul class="sub-menu">
	<li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:apodoseis" %}"  class=" " ><span class=" "></span><span>Πτώση Αποδόσεων</span></a></li>
	<li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:tziroi"  %}"  class=" " ><span class=" "></span><span>Τζίροι</span></a></li>
	<li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:livestreaming"  %}"  class=" " ><span class=" "></span><span>Live Streaming</span></a></li>
    <li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:statistika"  %}"  class=" " ><span class=" "></span><span>Στατιστικά</span></a></li>
      <li  id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url "bet:asianhandicap"  %}"  class=" " ><span class=" "></span><span>Asian Handicap</span></a></li>
</ul>
</li>
</ul></nav>
                                    <div id="sidebar-small_sidebar" class="c5-sidebar-wrap clearfix">



                            {% sidebar_left %}




                    </div>
                                        </div>
                            </div>

                        </div>