{% extends 'layout.html' %}
{% load bet_tags %}
{% block title %}Προγνωστικά Στοιχήματος| Αναλύσεις | Προτάσεις Ημέρας | Stoixima | Prognostika|Νόμιμες Στοιχηματικές|Επιβράβευση{% endblock %}
{% block content %}




            <article id="post" class="clearfix post page type-page status-publish hentry" role="article">
					                <section class="entry-content clearfix">
	                    		<style>
			#c5ab-row-lSgetf,
			#c5ab-row-lSgetf .c5ab-row{
				margin-left:-15px;
				margin-right:-15px;
			}

			#c5ab-row-lSgetf .c5ab-col-base{
				padding-left: 15px;
				padding-right: 15px;
			}
			#c5ab-section-lSgetf{


				margin: auto auto auto auto ;
				padding: auto auto auto auto ;
			}

		</style>



            {% show_flex_slider 4 %}

				<style>
			#c5ab-row-bfMHOV,
			#c5ab-row-bfMHOV .c5ab-row{
				margin-left:-15px;
				margin-right:-15px;
			}

			#c5ab-row-bfMHOV .c5ab-col-base{
				padding-left: 15px;
				padding-right: 15px;
			}
			#c5ab-section-bfMHOV{
												margin: auto auto auto auto ;
				padding: auto auto auto auto ;
			}

		</style>



				<style>
			#c5ab-row-nIYFGB,
			#c5ab-row-nIYFGB .c5ab-row{
				margin-left:-15px;
				margin-right:-15px;
			}

			#c5ab-row-nIYFGB .c5ab-col-base{
				padding-left: 15px;
				padding-right: 15px;
			}
			#c5ab-section-nIYFGB{
												margin: auto auto auto auto ;
				padding: auto auto auto auto ;
			}

		</style>


			<div id="c5ab-section-nIYFGB" class="c5ab-light-mode c5ab-section-common c5ab-align-left c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE   clearfix">

							<div class="c5ab-center-content" style="max-width:1170px">

		<div class="c5ab-row clearfix" id="c5ab-row-nIYFGB">
				<div class="c5ab-col-base c5ab-col-lg-12 c5ab-col-md-12 c5ab-col-sm-12 ">



                    {% middle_widget %}
                    {% if block1 %}
                        {% for block in block1 %}
                    <div class="c5ab-widget widget_ads-widget c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE" id="c5ab-widget-zXwglu">
   <div class="c5ab_ads c5ab-desktop-on  c5ab-tablet-on  c5ab-mobile-off ads_468x60">{{ block.body|safe }}</div>
   <style>.ads_468x60{
      display:block;
      margin:0px auto 30px;
      width:468px;
      height:60px;
      }
   </style>
</div>
                        {% endfor %}
                    {% endif %}
                    {% double_widget %}
                {% if block2 %}
                    {% for block in block2 %}
                    <div class="c5ab-widget widget_ads-widget c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE" id="c5ab-widget-zXwglu">
   <div class="c5ab_ads c5ab-desktop-on  c5ab-tablet-on  c5ab-mobile-off ads_468x60">{{ block.body|safe }}</div>
   <style>.ads_468x60{
      display:block;
      margin:0px auto 30px;
      width:468px;
      height:60px;
      }
   </style>
</div>
                    {% endfor %}
                {% endif %}
                    {% top_widget %}
                {% if block2 %}
                    {% for block in block3 %}
                    <div class="c5ab-widget widget_ads-widget c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE" id="c5ab-widget-zXwglu">
   <div class="c5ab_ads c5ab-desktop-on  c5ab-tablet-on  c5ab-mobile-off ads_468x60">{{ block.body|safe }}</div>
   <style>.ads_468x60{
      display:block;
      margin:0px auto 30px;
      width:468px;
      height:60px;
      }
   </style>
</div>
                     {% endfor %}
                {% endif %}
                    <div class="c5ab-widget widget_posts-widget c5ab-desktop-TRUE c5ab-tablet-TRUE c5ab-mobile-TRUE" id="c5ab-widget-YfhBUQ">
    <div class="c5ab_posts_thumb_wide_wide  c5ab_posts_thumb_wide_wide_aRdFR">
        <h3 class=" c5ab-title-rJKTO  category-4 normal title  clearfix"><a href="{% url "bet:bonus" %}" class="text-wrap"><span class="icon fa fa-star"></span><span class="text ">Επιβράβευση</span></a></h3>
        <article class="c5ab_post_thumb c5ab_posts_thumb_tall_single category-4 clearfix">
            <table class="table table-bordered">
   <thead>
      <tr>
         <th >Εταιρία στοιχήματος</th>
         <th >Μπόνους</th>
         <th >Οροι και προϋποθέσεις</th>
         <th >Ανοίξτε λογαριασμό</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td >
            <a href="http://2winbet.gr/?btag=19968" title="2WinBet" target="_blank"><img src="media/images/2vin_bet.png" alt="2winbet" border="0">
            </a>
         </td>
         <td >Μεγαλύτερη 100% επιβράβευση της αγοράς</td>
         <td >8 φορές απόδοση 1.80</td>
         <td ><a href="http://2winbet.gr/?btag=19968" title="Ανοίξτε λογαριασμό" target="_blank" class="btn btn-primary">Ανοίξτε λογαριασμό</a>
         </td>
      </tr>

    <tr>
         <td >
            <a href="http://record.affiliates.betshop.gr/_C6DtA1wULFaUcyqUL4Bc9GNd7ZgqdRLk/1/" title="Betshop" target="_blank"><img src="media/images/betshop-sm-200x30.jpg" alt="betshop" border="0">
            </a>
         </td>
         <td >100% επιβράβευση!</td>
         <td >5 φορές το ποσό κατάθεσης</td>
         <td ><a href="http://record.affiliates.betshop.gr/_C6DtA1wULFaUcyqUL4Bc9GNd7ZgqdRLk/1/" target="_blank" title="Ανοίξτε λογαριασμό" class="btn btn-primary">Ανοίξτε λογαριασμό</a>
         </td>
      </tr>

    <tr>
         <td >
            <a href="https://www.sportingbet.gr/offers/stoixima.aspx?affiliate=ia_reg_gr&pname=a_60611b_14043c_32542d_" title="SportingBet" target="_blank"><img src="media/images/sporting_bet.png" alt="SportingBet" border="0">
            </a>
         </td>
         <td>Τακτικό πρόγραμμα ανταμοιβής</td>
         <td>5 φορές απόδοση 1.50</td>
         <td ><a href="https://www.sportingbet.gr/offers/stoixima.aspx?affiliate=ia_reg_gr&pname=a_60611b_14043c_32542d_" target="_blank" title="Ανοίξτε λογαριασμό" class="btn btn-primary">Ανοίξτε λογαριασμό</a>
         </td>
      </tr>

    <tr>
         <td >
            <a href="https://www.vistabet.gr/offers/stoixima.aspx?affiliate=ia_vbgr&pname=a_60611b_8007c_32542d_" title="VistaBet" target="_blank"><img src="media/images/vista_bet.png"  alt="VistaBet" border="0">
            </a>
         </td>
         <td >Γενναιόδωρο πρόγραμμα επιβράβευσης</td>
         <td >5 φορές απόδοση 1.65+</td>
         <td ><a href="https://www.vistabet.gr/offers/stoixima.aspx?affiliate=ia_vbgr&pname=a_60611b_8007c_32542d_" target="_blank" title="Ανοίξτε λογαριασμό" class="btn btn-primary">Ανοίξτε λογαριασμό</a>
         </td>
      </tr>
   </tbody>
</table>
        </article>
    </div>
</div>

                   		</div>
				</div>

						</div>

			</div>
			                </section>
	                            </article>



{% endblock %}
{% block domready %}

			    $('.c5ab_posts_slider_sTUgd').flexslider({
		    	          animation: "slide",
		    	          selector: "ul.c5ab_slides > li"
		    	    });
$('.c5ab_posts_metro_FSYRQ .c5-flip-js').isotope({itemSelector:".element", masonry:{columnWidth:234}});
$('.c5ab_posts_slider_IJfoO').flexslider({
		    	          animation: "slide",
		    	          selector: "ul.c5ab_slides > li"
		    	    });
$('.c5ab_posts_metro_LZnqp .c5-flip-js').isotope({itemSelector:".element", masonry:{columnWidth:234}});
$('.c5ab_posts_slider_gZsbd').flexslider({
		    	          animation: "slide",
		    	          selector: "ul.c5ab_slides > li"
		    	    });
$('.c5ab_posts_metro_XZeqd .c5-flip-js').isotope({itemSelector:".element", masonry:{columnWidth:216}});

{% endblock %}
