{% extends 'layout.html' %}
{% block title %}Κορυφαίες εταιρείες με επιβράβευση{% endblock %}
{% block content %}
<table class="table table-bordered">
   <thead>
      <tr>
         <th >Εταιρία στοιχήματος</th>
         <th >Μπόνους</th>
         <th >Οροι και προϋποθέσεις</th>
         <th >Ανοίξτε λογαριασμό</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td >
            <a href="http://2winbet.gr/?btag=19968" title="2WinBet" target="_blank"><img src="media/images/2vin_bet.png" alt="2winbet" border="0">
            </a>
         </td>
         <td >Μεγαλύτερη 100% επιβράβευση της αγοράς</td>
         <td >8 φορές απόδοση 1.80</td>
         <td ><a href="http://2winbet.gr/?btag=19968" title="Ανοίξτε λογαριασμό" target="_blank" class="btn btn-primary">Ανοίξτε λογαριασμό</a>
         </td>
      </tr>

    <tr>
         <td >
            <a href="http://record.affiliates.betshop.gr/_C6DtA1wULFaUcyqUL4Bc9GNd7ZgqdRLk/1/" title="Betshop" target="_blank"><img src="media/images/betshop-sm-200x30.jpg" alt="betshop" border="0">
            </a>
         </td>
         <td >100% επιβράβευση!</td>
         <td >5 φορές το ποσό κατάθεσης</td>
         <td ><a href="http://record.affiliates.betshop.gr/_C6DtA1wULFaUcyqUL4Bc9GNd7ZgqdRLk/1/" target="_blank" title="Ανοίξτε λογαριασμό" class="btn btn-primary">Ανοίξτε λογαριασμό</a>
         </td>
      </tr>

    <tr>
         <td >
            <a href="https://www.sportingbet.gr/offers/stoixima.aspx?affiliate=ia_reg_gr&pname=a_60611b_14043c_32542d_"  title="SportingBet" target="_blank"><img src="media/images/sporting_bet.png" alt="SportingBet" border="0">
            </a>
         </td>
         <td>Τακτικό πρόγραμμα ανταμοιβής</td>
         <td>5 φορές απόδοση 1.50</td>
         <td ><a href="https://www.sportingbet.gr/offers/stoixima.aspx?affiliate=ia_reg_gr&pname=a_60611b_14043c_32542d_" target="_blank" title="Ανοίξτε λογαριασμό" class="btn btn-primary">Ανοίξτε λογαριασμό</a>
         </td>
      </tr>

    <tr>
         <td >
            <a href="https://www.vistabet.gr/offers/stoixima.aspx?affiliate=ia_vbgr&pname=a_60611b_8007c_32542d_" title="VistaBet" target="_blank"><img src="media/images/vista_bet.png"  alt="VistaBet" border="0">
            </a>
         </td>
         <td >Γενναιόδωρο πρόγραμμα επιβράβευσης</td>
         <td >5 φορές απόδοση 1.65+</td>
         <td ><a href="https://www.vistabet.gr/offers/stoixima.aspx?affiliate=ia_vbgr&pname=a_60611b_8007c_32542d_" target="_blank" title="Ανοίξτε λογαριασμό" class="btn btn-primary">Ανοίξτε λογαριασμό</a>
         </td>
      </tr>





   </tbody>
</table>
{% endblock %}
