{% extends "layout.html" %}
   {% block title %}Ανάκτηση κωδικού πρόσβασης{% endblock %}
   {% block content %}
     <h1>Ανάκτηση κωδικού πρόσβασης</h1>
     {% if validlink %}
       <p>Παρακαλώ εισάγετε τον καινούριο κωδικό πρόσβασης 2 φορές:</p>
       <form action="." method="post">
         {{ form.as_p }}
         {% csrf_token %}
         <p><input type="submit" value="Change my password" /></p>
       </form>
     {% else %}
       <p>Ο σύνδεσμος για την ανάκτηση του κωδικού πρόσβασης είναι άκυρος.Παρακαλώ ζητήστε καινούριο κωδικό.</p>
     {% endif %}
   {% endblock %}